language: go

branches:
  only:
    - master
    - development
    - travis
    - /\d+\.\d+\.\d+/

go:
  - 1.12.x
  - tip

env:
  - GO111MODULE=on

services:
  - docker

matrix:
  # It's ok if our code fails on unstable development versions of Go.
  allow_failures:
    - go: tip
  # Don't wait for tip tests to finish. Mark the tests run green if the
  # tests pass on the stable versions of Go.
  fast_finish: true

git:
  depth: 3

install: true

before_script:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  # Install all tooling
  - bash ./bin/install_tools.sh || travis_terminate 1;
  # Login to IBMCloud and export KUBECONFIG env variable.
  - source ./bin/ibmcloud_login.sh || travis_terminate 1;
  # Build executable, build docker image, and deploy to cluster
  - bash ./bin/build_deploy.sh || travis_terminate 1;
  # Run coverage on unit tests
  - go test -coverprofile=coverage.out ./adapter/... || travis_terminate 1;
  # Run all integration tests
  - go test -v ./tests/integration/helm/... || travis_terminate 1;
  - go test -v ./tests/integration/jwt/... || travis_terminate 1;
  - go test -v ./tests/integration/oidc/... || travis_terminate 1;
  - go test -v ./tests/integration/sample/... || travis_terminate 1;

after_success:
  - $HOME/gopath/bin/goveralls -service=travis-ci -coverprofile=coverage.out

notifications:
  email:
    on_success: always
    on_failure: always
