---
title: authnZ
layout: protoc-gen-docs
generator: protoc-gen-docs
number_of_entries: 6
---
<p>Template authnZ defines an authorization and authentication adapter template</p>

<h2 id="Headers">Headers</h2>
<section>
<p>The Headers models the core HTTP headers needed for the JWT/OIDC flows</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Headers-cookies">
<td><code>cookies</code></td>
<td><code>string</code></td>
<td>
<p>The optional cookies are the HTTP request cookies sent by the browser. These
contain the encrypted session toke</p>

</td>
</tr>
<tr id="Headers-authorization">
<td><code>authorization</code></td>
<td><code>string</code></td>
<td>
<p>The optional authorization header contains credentials needed to verify
access / authorization privileges.</p>

</td>
</tr>
<tr id="Headers-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the headers for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="OutputTemplate">OutputTemplate</h2>
<section>
<p>The Authn/Z template produces an authorization header of the format
<code>Bearer &lt;access&gt; &lt;id&gt;</code> which should be replaced on the ongoing request.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="OutputTemplate-authorization">
<td><code>authorization</code></td>
<td><code>string</code></td>
<td>
<p>The authorization header</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="QueryParams">QueryParams</h2>
<section>
<p>The QueryParams are the code HTTP request query parameters used in an OAuth 2.0 / OIDC flow</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="QueryParams-error">
<td><code>error</code></td>
<td><code>string</code></td>
<td>
<p>The error matches an OAuth 2.0 callback error response</p>

</td>
</tr>
<tr id="QueryParams-code">
<td><code>code</code></td>
<td><code>string</code></td>
<td>
<p>The code matches an OAuth 2.0 callback authorization code grant</p>

</td>
</tr>
<tr id="QueryParams-state">
<td><code>state</code></td>
<td><code>string</code></td>
<td>
<p>The state matches an OAuth 2.0 callback authorization state parameter</p>

</td>
</tr>
<tr id="QueryParams-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the query parameters for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Request">Request</h2>
<section>
<p>The Request captures information about the incoming HTTP request</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Request-scheme">
<td><code>scheme</code></td>
<td><code>string</code></td>
<td>
<p>The HTTP scheme</p>

</td>
</tr>
<tr id="Request-host">
<td><code>host</code></td>
<td><code>string</code></td>
<td>
<p>The HTTP host</p>

</td>
</tr>
<tr id="Request-path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
<p>The HTTP path</p>

</td>
</tr>
<tr id="Request-headers">
<td><code>headers</code></td>
<td><code><a href="#Headers">Headers</a></code></td>
<td>
<p>The HTTP headers on the request</p>

</td>
</tr>
<tr id="Request-params">
<td><code>params</code></td>
<td><code><a href="#QueryParams">QueryParams</a></code></td>
<td>
<p>THE HTTP query params</p>

</td>
</tr>
<tr id="Request-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the Request for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Target">Target</h2>
<section>
<p>A Target contains the Action destination.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Target-namespace">
<td><code>namespace</code></td>
<td><code>string</code></td>
<td>
<p>The namespace the target service is in</p>

</td>
</tr>
<tr id="Target-service">
<td><code>service</code></td>
<td><code>string</code></td>
<td>
<p>The service the action is being taken on.</p>

</td>
</tr>
<tr id="Target-method">
<td><code>method</code></td>
<td><code>string</code></td>
<td>
<p>The HTTP method of the request</p>

</td>
</tr>
<tr id="Target-path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
<p>The HTTP REST path within the service</p>

</td>
</tr>
<tr id="Target-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the target for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Template">Template</h2>
<section>
<p>The Authn/Z template contains the information necessary to
control authorization and authentication using OAuth 2.0 / OIDC
defined protocols. It captures information about the request source, destination
and code request telemetry that allows comprehensive JWT policy definitions.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Template-request">
<td><code>request</code></td>
<td><code><a href="#Request">Request</a></code></td>
<td>
<p>The request contains the core information about the request being made</p>

</td>
</tr>
<tr id="Template-target">
<td><code>target</code></td>
<td><code><a href="#Target">Target</a></code></td>
<td>
<p>The target contains aggregated Kube information about the destination</p>

</td>
</tr>
</tbody>
</table>
</section>
