---
title: authnZ
layout: protoc-gen-docs
generator: protoc-gen-docs
number_of_entries: 5
---
<p>Template authnZ defines an authorization and authentication adapter template</p>

<h2 id="Action">Action</h2>
<section>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Action-namespace">
<td><code>namespace</code></td>
<td><code>string</code></td>
<td>
<p>Namespace the target action is taking place in.</p>

</td>
</tr>
<tr id="Action-service">
<td><code>service</code></td>
<td><code>string</code></td>
<td>
<p>The Service the action is being taken on.</p>

</td>
</tr>
<tr id="Action-method">
<td><code>method</code></td>
<td><code>string</code></td>
<td>
<p>What action is being taken.</p>

</td>
</tr>
<tr id="Action-path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
<p>HTTP REST path within the service</p>

</td>
</tr>
<tr id="Action-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the action for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Credentials">Credentials</h2>
<section>
<p>The optional credentials passed in the request</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Credentials-access_cookie">
<td><code>accessCookie</code></td>
<td><code>string</code></td>
<td>
<p>The encrypted access token cookie</p>

</td>
</tr>
<tr id="Credentials-id_cookie">
<td><code>idCookie</code></td>
<td><code>string</code></td>
<td>
<p>The encrypted id token cookie</p>

</td>
</tr>
<tr id="Credentials-refresh_cookie">
<td><code>refreshCookie</code></td>
<td><code>string</code></td>
<td>
<p>The encrypted refresh token cookie</p>

</td>
</tr>
<tr id="Credentials-authorization_header">
<td><code>authorizationHeader</code></td>
<td><code>string</code></td>
<td>
<p>The authorization header passed on the request</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="OutputTemplate">OutputTemplate</h2>
<section>
<p>OutputTemplate defines OAuth 2.0 cookies to apply to response headers
These are primarily used in OAuth 2.0 / OIDC web strategy
flows and will be remain empty during most flows.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="OutputTemplate-access_token_cookie">
<td><code>accessTokenCookie</code></td>
<td><code>string</code></td>
<td>
<p>The access token cookie using in OAuth 2.0 flows</p>

</td>
</tr>
<tr id="OutputTemplate-id_token_cookie">
<td><code>idTokenCookie</code></td>
<td><code>string</code></td>
<td>
<p>The ID token cookie using in OAuth 2.0 flows</p>

</td>
</tr>
<tr id="OutputTemplate-refresh_token_cookie">
<td><code>refreshTokenCookie</code></td>
<td><code>string</code></td>
<td>
<p>The refresh token cookie using in OAuth 2.0 flows</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Subject">Subject</h2>
<section>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Subject-user">
<td><code>user</code></td>
<td><code>string</code></td>
<td>
<p>The user name/ID that the subject represents.</p>

</td>
</tr>
<tr id="Subject-groups">
<td><code>groups</code></td>
<td><code>string</code></td>
<td>
<p>Groups the subject belongs to depending on the authentication mechanism,
&ldquo;groups&rdquo; are normally populated from JWT claim or client certificate.
The operator can define how it is populated when creating an instance of
the template.</p>

</td>
</tr>
<tr id="Subject-credentials">
<td><code>credentials</code></td>
<td><code><a href="#Credentials">Credentials</a></code></td>
<td>
<p>The optional credentials passed in the request</p>

</td>
</tr>
<tr id="Subject-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional attributes about the subject.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Template">Template</h2>
<section>
<p>The <code>authorization</code> template defines parameters for performing policy
enforcement within Istio. It is primarily concerned with enabling Mixer
adapters to make decisions about who is allowed to do what.
In this template, the &ldquo;who&rdquo; is defined in a Subject message. The &ldquo;what&rdquo; is
defined in an Action message. During a Mixer Check call, these values
will be populated based on configuration from request attributes and
passed to individual authorization adapters to adjudicate.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Template-subject">
<td><code>subject</code></td>
<td><code><a href="#Subject">Subject</a></code></td>
<td>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

</td>
</tr>
<tr id="Template-action">
<td><code>action</code></td>
<td><code><a href="#Action">Action</a></code></td>
<td>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

</td>
</tr>
</tbody>
</table>
</section>
